body {
    background-color: gainsboro;
}
.card {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 35%;
    height: 40%;
    background-color: white;
    border-radius: 5px;
}


.grip-button {
    text-align: end;
    margin: 5%;
    color: gray
}




.profile {
    text-align: center;
}

.image-content {
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.image-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fa-circle-check {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color:teal;
}



.status {
    display: flex;
    justify-content: space-around;
}

.status-catagory {
    text-align: center;
}


