body {
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
.card {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 300px;
    background-color: white;
    border-radius: 5px;
}


.grip-button {
    text-align: end;
    margin: 5%;
    color: gray
}




.profile {
    text-align: center;
}

.name {
    font-size: 15px;
}

.image-content {
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.image-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fa-circle-check {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color:teal;
}



.status {
    display: flex;
    justify-content: space-around;
}

.status-catagory {
    text-align: center;
}



.description {
    margin: 0 30px 0 30px;
    text-align: center;
    font-size: 8px;
}



.social-links {
    font-size: large;
    margin: 0 30% 0 30%;
    display: flex;
    justify-content: space-around;
}

.fa-square-twitter {
    color: dodgerblue;
}

.fa-facebook {
    color: blue;
}

.fa-google-plus {
    color: orange;
}

.fa-square-behance {
    color: blue;
}


.view-profile-btn {
    text-align: center;
    margin: 20px 0 20px 0;
}

.view-profile-btn button {
    padding: 5px 25px 5px 25px;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 20px;

}