body {
  background-image: url("https://mcdn.wallpapersafari.com/medium/13/34/MeEa4R.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container {
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
}

.three-grip {
  text-align: end;
  margin: 10px 10px 0 0;
  font-size: 20px;
}

.image-content {
  margin: auto;
  width: 100px;
  height: 100px;
  position: relative;
}
.image-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image-content i {
  position: absolute;
  bottom: -10px;
  right: 40px;
  font-size: large;
  color: dodgerblue;
}
.about {
  text-align: center;
}
.name {
  font-size: 20px;
  margin-bottom: 0;
}
.profession {
  margin-top: 5px;
}
.profile-container {
  margin: 25px 0;
}

.status-container {
  display: flex;
  justify-content: space-around;
}
.status-catagory {
  text-align: center;
}

.description {
  margin: 20px;
  text-align: center;
  font-size: 10px;
}

.social-links {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: x-large;
}

.view-profile-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.view-profile-btn button {
  border: 1px solid gainsboro;
  background-color: white;
  padding: 10px 100px;
  border-radius: 30px;
}
